<div id="image">
<div class="jk" id="home1">
 
  <button id="let" routerLink="/login" class="btn">
          
          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           START
           
           </p>
         
   </button>

<button routerLink="/login"><img id="first" src = "assets/online_edu.jpeg"/></button>
<button routerLink="/login"><img id="second" src = "assets/onlinetest.jpg"/></button>
<button routerLink="/login"><img id="third"  src = "assets/online3.jpg"/></button>
<button routerLink="/login"><img id="fourth" src = "assets/online.jpg"/></button>
</div>
</div>

<div style="color:black;width:100%;height:30px;background-color:black">
</div>


