
<div class="instructions">

<button id="go" type="button" class="btn btn-success" (click)="this.start()">
          
           PLAY
</button>


<button id="let" routerLink="/racecoin" class="btn">
     
          
           Update Score
   
</button>

<p id="score">YOUR_SCORE: <span id="countdown"></span></p>



<a id="survey" href="https://docs.google.com/forms/d/e/1FAIpQLSfSkDn5vdasS-uXzOl8C7khxw8MBadHlMgndlwSsTg1ewdjtw/viewform">Help_Us_Improve</a>

</div>

<div ><canvas #canvas class="play-ground">GO</canvas></div>