<div id="image" style="color:white">
<img id="zero" src = "assets/car_img/prizezone.png"/>

<img id="zeroo" src = "assets/car_img/cup.png"/>

<button routerLink="/sorry"><img id="first" src = "assets/car_img/a_100.png"/></button>
<button routerLink="/sorry"><img id="second" src = "assets/car_img/a_250_g.jpg"/></button>
<button routerLink="/sorry"><img id="third"  src = "assets/car_img/a_500.jpeg"/></button>
<button routerLink="/sorry"><img id="fourth" src = "assets/car_img/a_1000.jpeg"/></button>

</div>