<div id="image" style="color:white">
<body >
<div id="image" style="color:white;text-align: center;">
  <br>
  <h1><b>RULES AND REGULATIONS</b></h1>
  <hr><br><br><br><br><br>
  <h2>NOTE: Minimum score to start the game is 4 which can be earned by driving test</h2>
  <h2>Racecoin can be scored by both racing and giving weekly GK test</h2>
  <h3> Score Calculation </h3>
  <ul style="font-size: 20px">
  <li>Each MCQ Question: 1 mark </li>
  <li>Accident before scoring 30 points: -1 mark </li>
  <li>Race Score>=50: 1 race coin</li>
  <li>Race Score>=100: 4 race coins</li>
  <li>Race Score>=200: 10 race coins</li>
  <li>Race Score>=280: 20 race coins</li>
  <li>Race Score>=350: 30 race coins</li>
  </ul>
  <br><br>
  <h2>What to do with RaceCoin?</h2>
  <p style="font-size: 25px">Win Exciting Prizes</p>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</body>


</div>