
<div id="image">
<div class="jk" id="home1">
 
 <button id="ins" routerLink="/game" class="btn">
          
          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
           HOW TO PLAY
          <span></span>
          
          <span></span>
         
           
           
           </p>
         
   </button>
 
 
 <button routerLink="/login"><img id="zero" src = "assets/car_img/DreamCar1.jpg"/></button>
  <button id="let" routerLink="/login" class="btn">
          
          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          START
          <span></span>
          
          <span></span>
          
           
           
           </p>
         
   </button>

<button routerLink="/login"><img id="first" src = "assets/car_img/car2_crew.jpg"/></button>
<button routerLink="/login"><img id="second" src = "assets/car_img/car1.jpg"/></button>
<button routerLink="/login"><img id="third"  src = "assets/car_img/car3_needForSpeed.jpg"/></button>
<button routerLink="/login"><img id="fourth" src = "assets/car_img/fastRacing.jpg"/></button>
</div>
</div>

<div id="bottom">
</div>



