<div id="image">


<div id="barman">
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Prizes</th>
<th class="text-left">Racecoins</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">$ 100</td>
<td class="text-left">500</td>
</tr>
<tr>
<td class="text-left">$ 250</td>
<td class="text-left">1000</td>
</tr>
<tr>
<td class="text-left">$ 500</td>
<td class="text-left">1400</td>
</tr>
<tr>
<td class="text-left">$ 1000</td>
<td class="text-left">2000</td>
</tr>
</tbody>
</table>
  

  </div>

</div>
