
<div [ngStyle]="{'background-image': geturl(),'background-size':getsize(),'height': '70%','background-position':'center'}">
<table class="table table-hover">
<tr style="color:blue">
<th>Id</th>
<th>username</th>
<th>score</th>
<th>Date and time</th>
</tr>
<tr *ngFor="let val of final;let i=index">
<td>{{i+1}}</td>
<td>{{val[0][i]}}</td>
<td>{{val[1][i]}}</td>
<td>{{val[2][i]}}</td>
</tr>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
</div>

<div style="background-color:black;height:55px"></div>
