<div class="image">
<h1 style="color:white">HOW TO PLAY </h1>

<button routerLink="#"><img id="first" src = "assets/car_img/arrow.png"/></button>
<br><br>
<h2 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GO UP</h2>
<br><br><br><br><br><br><br><br>
<h2 style="color:white">&nbsp;&nbsp;&nbsp;GO LEFT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GO RIGHT</h2>
<br><br><br><br>
<h2 style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GO DOWN</h2>


<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<h4 style="color:white;text-align:RIGHT">

MADE WITH &nbsp;<label style="color:red;text-align:RIGHT"> &hearts;</label> &nbsp; BY 18IT211,18IT114,18IT248,18IT218</h4>


</div>
