
<div [ngStyle]="{'background-image': geturl(),'background-size':getsize(),'height': '30%','background-position':'center'}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <div class=" navbar-collapse" id="navbarSupportedContent">  
     <p></p>
          </div>
    </nav>

     <div style="background-color:black;height:40px"></div>
	<div class="quiz_wrapper">
           
           <div class="question" id="questionBox"> 
           	<h1>DRIVING TEST ---> </h1>
           </div>
           
           <div class="options">
           	  <ul id="ul">
           	  	  <li id="op1"><a href="assets/quiz.html">Licence Test</a></li>
           	  	  <li id="op2"><a href="assets/quiz3.html">Traffic Rule</a></li>
           	  	  <li id="op3"><a href="assets/quiz3.html">FOUR Wheelers</a></li>
           	  	  <li id="op4"><a href="assets/quiz.html">TWO Wheelers</a></li>
           	  </ul>
           </div>
           <div class="score">
           	   <div class="score-card">
           	   	Your  Score : <span id="scoreCard">{{xyz}}</span>
           	   </div>
           </div>

	</div>



  <div *ngIf="play; else elseblock">
  <img src = "assets/car_img/speedcar.jpg" id="img"/>
<button id="ano" routerLink="/play"> Start Racing</button>
  </div>

  <ng-template #elseblock>
    <img src = "assets/car_img/lockcar.webp" id="img"/>
<button id="ano" routerLink="/notfound"> Attend Test To Unlock</button>
  </ng-template>




<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<div style="background-color:black;height:120px"></div>


<button id="logout" class="btn" (click)="callfun()">
          
          <p class="neon_a" style="color:black;width:150px;height:40px">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <a style="color:white">
           LOGOUT </a>
           </p>
         
        </button>
